.app_orange_theme {
    --bg-color: #f3f2f2;
    --inverted-bg-color: #ee8c0b;
    --primary-color: #f40b0b;
    --secondary-color: #ee8c0b;
    --inverted-primary-color: #f3f2f2;
    --inverted-secondary-color: #f40b0b;
}
